Repository thiagothaison/manguinho-tdd: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn test:staged, prettier --write

chore: add jest configs
  .eslintignore
  .husky/pre-push
  jest-integration.config.js
  jest-unit.config.js
  jest.config.js
  jest.config.ts
  package.json
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

refactor: ignore coverage for exporter files
  src/domain/use-cases/index.ts
  src/presentation/controllers/signup/signup-protocols.ts
  src/presentation/protocols/index.ts
Due: yarn lint, yarn test:staged

feat: ensure email EmailValidatorAdapter returns false if validator returns false
  src/utils/email-validator.ts
Due: yarn lint, yarn test:staged

test: ensure email EmailValidatorAdapter returns false if validator returns false
  src/utils/email-validator-adapter.spec.ts
Due: yarn lint, yarn test:staged

chore: add validator lib
  package.json
  yarn.lock
Due: prettier --write

feat: ensure email EmailValidatorAdapter returns true if validator returns true
  src/utils/email-validator.ts
Due: yarn lint, yarn test:staged

test: ensure email EmailValidatorAdapter returns true if validator returns true
  src/utils/email-validator-adapter.spec.ts
Due: yarn lint, yarn test:staged

test: ensure EmailValidatorAdapter calls validator with correct email
  src/utils/email-validator-adapter.spec.ts
Due: yarn lint, yarn test:staged

refactor: move sut creating to a factory helper method
  src/utils/email-validator-adapter.spec.ts
Due: yarn lint, yarn test:staged

refactor: change file name
  src/utils/email-validator-adapter.spec.ts
  src/utils/email-validator-adapter.ts
Due: yarn lint, yarn test:staged

feat: ensure DbAddAccount calls encrypter with correct password
  src/data/protocols/encrypter.ts
  src/data/use-cases/add-account/db-add-account.ts
Due: yarn lint, yarn test:staged

test: ensure DbAddAccount calls encrypter with correct password
  src/data/use-cases/add-account/db-add-account.spec.ts
Due: yarn lint, yarn test:staged

test: ensure DbAddAccount throws if encrypter throws
  src/data/use-cases/add-account/db-add-account.spec.ts
Due: yarn lint, yarn test:staged

refactor: group all protocols in a single file
  src/data/use-cases/add-account/db-add-account-protocols.ts
  src/data/use-cases/add-account/db-add-account.spec.ts
  src/data/use-cases/add-account/db-add-account.ts
Due: yarn lint, yarn test:staged

feat: ensure DbAddAccount calls AddAccountRepository with correct values
  src/data/protocols/add-account-repository.ts
  src/data/use-cases/add-account/db-add-account-protocols.ts
  src/data/use-cases/add-account/db-add-account.ts
Due: yarn lint, yarn test:staged

test: ensure DbAddAccount calls AddAccountRepository with correct values
  src/data/use-cases/add-account/db-add-account.spec.ts
Due: yarn lint, yarn test:staged

test: ensure DbAddAccount throws if AddAccountRepository throws
  src/data/use-cases/add-account/db-add-account.spec.ts
Due: yarn lint, yarn test:staged

test: ensure DbAddAccount returns an account on success
  src/data/use-cases/add-account/db-add-account.spec.ts
Due: yarn lint, yarn test:staged

feat: ensure BcryptAdapter calls bcrypt with correct values
  package.json
  src/infra/criptography/bcrypt-adapter.ts
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

test: ensure BcryptAdapter calls bcrypt with correct values
  src/infra/criptography/bcrypt-adapter.spec.ts
Due: yarn lint, yarn test:staged

feat: ensure BcryptAdapter returns a hash on success
  src/infra/criptography/bcrypt-adapter.ts
Due: yarn lint, yarn test:staged

test: ensure BcryptAdapter returns a hash on success
  src/infra/criptography/bcrypt-adapter.spec.ts
Due: yarn lint, yarn test:staged

refactor: move sut creation to a factory helper method
  src/infra/criptography/bcrypt-adapter.spec.ts
Due: yarn lint, yarn test:staged

test: ensure BcryptAdapter throws if bcrypt throw
  src/infra/criptography/bcrypt-adapter.spec.ts
Due: yarn lint, yarn test:staged

chore: add jest configs for mongodb
  jest-mongodb-config.js
  jest.config.js
  package.json
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

feat: create mongodb helper
  src/infra/db/mongodb/helpers/mongo-helper.ts
Due: yarn lint, yarn test:staged

feat: ensure AccountMongoRepository returns an account on success
  .eslintrc.json
  src/infra/db/mongodb/account-repository/account.ts
  src/infra/db/mongodb/helpers/mongo-helper.ts
Due: yarn lint, yarn test:staged, prettier --write

test: ensure AccountMongoRepository returns an account on success
  src/infra/db/mongodb/account-repository/account.spec.ts
Due: yarn lint, yarn test:staged

refactor: move sut creation to a factory helper method
  src/infra/db/mongodb/account-repository/account.spec.ts
Due: yarn lint, yarn test:staged

refactor: clear database between tests
  src/infra/db/mongodb/account-repository/account.spec.ts
Due: yarn lint, yarn test:staged

refactor: move mapping to MongoHelper
  src/infra/db/mongodb/account-repository/account.ts
  src/infra/db/mongodb/helpers/mongo-helper.ts
Due: yarn lint, yarn test:staged

feat: add express
  package.json
  src/main/server.ts
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

feat: ensure request parse body as json
  package.json
  src/main/config/app.ts
  src/main/config/middlewares.ts
  src/main/middlewares/body-parser.ts
  src/main/server.ts
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

test: ensure request parse body as json
  src/main/middlewares/body-parser.test.ts
Due: yarn lint, yarn test:staged

feat: ensure cors enabled
  src/main/config/middlewares.ts
  src/main/middlewares/cors.ts
Due: yarn lint, yarn test:staged

test: ensure cors enabled
  src/main/middlewares/cors.test.ts
Due: yarn lint, yarn test:staged

feat: ensure requests return json as default content type
  src/main/config/middlewares.ts
  src/main/middlewares/content-type.ts
Due: yarn lint, yarn test:staged

test: ensure requests return json as default content type
  src/main/middlewares/content-type.test.ts
Due: yarn lint, yarn test:staged

refactor: group middlewares in a single file
  src/main/config/middlewares.ts
  src/main/middlewares/index.ts
Due: yarn lint, yarn test:staged

feat: ensure SignUp route returns an account on success
  package.json
  src/main/config/app.ts
  src/main/config/routes.ts
  src/main/routes/signup-routes.ts
  yarn.lock
Due: yarn lint, yarn test:staged, prettier --write

Path conditions:
  yarn lint: any of: *.{js,ts}
  yarn test:staged: any of: *.{js,ts}
  prettier --write: any of: *.{json,md}
